@import 'mixin';
@import "compass/css3/images";

body {
  background-color: $header-background-color;
  @include background($header-background-linear-gradient, $header-background-linear-gradient);
}

.main {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  overflow: hidden;

  // Force 3D acceleration on mobile devices.
  transform: translate3d(0, 0, 0);

  h1 {
    margin-top: 16px;
    color: $header-foreground-color;
    text-align: center;
    font-family: Alef, sans-serif;
    font-size: 24px;
  }

  .logo {
    @include image-2x('../img/logo-200x320.png', 100px, 160px);
    background-image: url('../img/logo-100x160.png');
    display: block;
    width: 100px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    animation: {
      name: floating;
      duration: 3s;
      iteration-count: infinite;
      timing-function: ease-in-out;
    }
  }
}

@keyframes floating {
  from { transform: translateY(0)    }
  66%  { transform: translateY(16px) }
  to   { transform: translateY(0)    }
}
