@import "compass/css3/images";

$header-background-color: #45C9D9;
$header-background-linear-gradient: linear-gradient(10deg, #4B7ACC, #45C9D9);
$header-background-radial-gradient: radial-gradient(closest-corner, rgba(119, 169, 255, 0) 60%, rgba(119, 169, 255, 0.25));

$header-foreground-color: #FFF;
